h1, h2 { 
    background-color: blanchedalmond;
    padding: 10px;
}

div {
    background-color: #ff0000;
}

#content {
    background-color: #00ff00;
}

.quotation{
    background-color: #0000ff;
}

a:visited {
    color: green;
}